.light-container {
    position: relative;

    .product-hero {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .left {
        left: 4%;

        &:hover {
            left: 3%;
        }
    }
    .right {
        right: 4%;

        &:hover {
            right: 3%;
        }
        
    }

    .arrow {
        position: absolute;
        top: 43%;
        // transform: translateY(-50%);
        background-color: $white;
        border-radius: 50%;

        width: 2.5rem;
        height: 2.5rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: all 0.3s ease;

        img{
            height: 15px;
            font-weight: bold;
        }
    }
}

