@media screen and (min-width: 1440px) {
    .container {
        width: 80%;
        margin: 0 auto;

        .navigation-container {
            border-bottom: 1px solid $darkGrey;

            .burger-logo-container {
                gap: 3.4rem;

                .hamburger {
                    display: none;
                }
            }


            .menu {
                display: block;
                background: unset;
                position: unset;
                height: unset;

                .slide-menu {
                    background: unset;
                    width: unset;

                    img {
                        display: none;
                    }

                    ul {
                        flex-direction: row;
                        margin: 0;
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: $darkGrey;
                        gap: 3.3rem;

                        a {
                            display: block;
                        }


                    }
                }
            }

            .icons-menu-container {
                gap: 4.5rem;

                .avatar {
                    height: 5rem;
                }
            }
        }
    }

    // lightbox

    .brand-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 9rem 7rem;

        .light-container {

            .product-hero {
                width: 44.5rem;
                height: unset;
                border-radius: 5%;
            }

            .arrow {
                display: none;
            }
        }

        .thumb-images {
            // margin-left: 4rem;
            display: flex;
            gap: 3rem;
            margin-top: 2rem;


            img {
                width: 20%;
                border-radius: 10%;
                transition: all 0.3s ease;
                cursor: pointer;
            }
            .active {
                border: 2px solid $primaryOrange;
                opacity: 0.80;
            }
        }


        .product-container {
            padding: 6.1rem 2rem 6.1rem 12.5rem;
            width: 100%;

            .title-company {
                font-size: 1.4rem;
                letter-spacing: 1px;
                margin-bottom: 1.8rem;
            }

            .title-product{
                font-size: 4.5rem;
                line-height: 5rem;
                margin-bottom: 3.5rem;
            }


            .price-container {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .price-group {
                    margin-bottom: 0.5rem;
                }

            }

            .button-count-container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                margin-top: 1.5rem;

                .count-container {
                    width: 62%;
                    padding: 1.2rem 0.5rem;
                    border-radius: 1rem;
                }

                .button-add-cart {
                    width: 100%;
                }
            }
        }


    }




}